apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

bases:
  - ../base

patchesStrategicMerge:
  - rumor-mill-poller-production-images.merge.yaml
# - sharded-controller-production-images.merge.yaml
