{{define "title"}}Finding Mona Lisa in the Game of Life, Revisited{{end}}
{{define "breadcrumbs" -}}
<ul class="breadcrumbs"><li class="breadcrumbs-item"><a href="/">/root</a></li><li class="breadcrumbs-item">/articles</li><li class="breadcrumbs-item">/Finding Mona Lisa in the Game of Life, Revisited</li></ul>
{{- end}}
{{define "content"}}
<section></section>
{{end}}
