{% extends "base.html.jinja" %}

{% block title %}Reversing The Game of Life With Explicit Backtracking{% endblock %}

{% block topnav %}
  {{ breadcrumbs('/articles', '/Finding Mona Lisa in the Game of Life, ') }}
{% endblock %}

{% block content %}
<section>
</section>

{% endblock %}
