{{define "title"}}Ballistae{{end}}
{{define "breadcrumbs" -}}
<ul class="breadcrumbs"><li class="breadcrumbs-item"><a href="/">/root</a></li><li class="breadcrumbs-item">/ballistae</li></ul>
{{- end}}
{{define "content"}}
<section>
  <h1>What is ballistae?</h1>

  <p>ballistae is an (approximately) physically-correct path tracer. Let's
    unpack that a little:

    <ul>
      <li>path tracer: ballistae fires rays out of a camera, and lets
        them bounce around the scene until they strike something that
        emits radiative power. The material interactions at each stop on
        the path are then used to compute the color received by the
        camera.

      <li>physically-correct: ballistae doesn't cheat to achieve its
        effects. Rather than working with colors, it works with precise
        spectral distributions.
    </ul>

  <p>The net effect is that ballistae produces very realistic images, but
    extremely slowly. Each of the images below took approximately two hours
    to produce on a four-core machine. Even longer runtimes with more
    oversampling are required to get rid of the path tracer speckling that's
    visible in all the example images.
</section>

<section>
  <h1>Sample Images</h1>

  <figure>
    <img src="crystal-bunny.jpeg">
    <figcaption>Transparency with chromatic aberration and
    caustics.</figcaption>
  </figure>

  <figure>
    <img src="angry-bunny.jpeg">
    <figcaption>Emissive material (CIE-A emitter).</figcaption>
  </figure>
</section>

<section>
  <h1>Code</h1>
  <p><code>ballistae</code> is available via git:
    <pre><code>https://gitlab.com/ahmedtd/ballistae.git</code></pre>
</section>
{{end}}
