{% extends "base.html.jinja" %}

{% block title %}There and Back Again: From Development To Operations on Nix{% endblock %}

{% block topnav %}
{{  breadcrumbs('/articles', '/there-and-back-again') }}
{% endblock %}

{% block content %}
{% endblock %}
