{% extends "base.html.jinja" %}

{% block title %}Resume{% endblock %}

{% block topnav %}
{{  breadcrumbs('/resume') }}
{% endblock %}

{% block content %}
<section>
  <h1>Taahir Ahmed</h1>
  <ul>
    <li>ahmed.taahir@gmail.com
    <li>Home Page: <a href="https://www.row-major.net">https://www.row-major.net</a>
    <li>GitLab: <a href="https://gitlab.com/ahmedtd">https://gitlab.com/ahmedtd</a>
    <li>GitHub: <a href="https://github.com/ahmedtd">https://github.com/ahmedtd</a>
  </ul>
</section>

<section>
  <h1>Education</h1>
  <ul>
    <li>MS Computer Engineering, Texas A&amp;M (2017)
    <li>BS Computer Engineering, Texas A&amp;M (2013)
  </ul>
</section>

<section>
  <h1>Skills</h1>

  <h2>Software Development</h2>
  <ul>
    <li>I have worked on service backends, embedded systems, web
      frontends, and a little bit of everything else.
    <li>My go-to languages are Scheme, Python, JavaScript / ReactJS, and
      Golang.
    <li>I have extensive experience in Linux system administration,
      scripting, and systems programming.
    <li>I also have experience with developing applications for and running
      Kubernetes clusters.
    <li>I am always willing to learn new systems and languages.
  </ul>

  <h2>Technical Writing</h2>
  <p> I am an excellent technical writer (this website notwithstanding).
</section>

<section>
  <h1>Work Experience</h1>

  <h2>Software Engineer, Google (2019-Present)</h2>
  <ul>
    <li>I  work on  the Google  Kubernetes Engine  Security Team,  which
      builds hardening and identity features.
    <li>Some projects I've worked on:
      <ul>
        <li> <a href="https://cloud.google.com/blog/products/containers-kubernetes/introducing-workload-identity-better-authentication-for-your-gke-applications">GKE Workload Identity</a>
      </ul>
  </ul>

  <h2>Software Development Engineer, Amazon (2017-2019)</h2>
  <ul>
    <li>I worked on the software infrastructure that backs the reverse
      logistics pipeline for Amazon's devices. In addition to general
      contributions to the software my team supported, I led design
      and development on an internal device physical defect rate
      reporting tool.
    <li>I was an Amazon Security Certifier &mdash; I led teams that are
      developing applications through Amazon's security
      review process, reviewing the general application architecture
      as well as reviewing code for vulnerabilities.
  </ul>

  <h2>Senior Developer, Frogslayer LLC(2015&ndash;2017)</h2>
  <ul>
    <li>I was a junior developer from 2015 to 2016, and a senior
      developer from 2016 onwards.
    <li>I managed and delivered several projects, including setting and
      maintaining schedules, development, and creating the integration
      and deployment infrastructure.
    <li>I interacted directly with clients &mdash; progress reports,
      managing expectations, and triaging feature requests.
    <li>I drove improvements in internal infrastructure, including our
    source control and continuous integration platforms.
  </ul>

  <h2>SDE Intern, Amazon (2014)</h2>
  <ul>
    <li>I built the initial in-playback audio language switching support
      for the Amazon Instant Video Kindle app.
    <li>I contributed Quality of Service reporting improvements and build system
      improvements.
  </ul>
</section>

<section>
  <h1>Activities</h1>

  <h2>Free Software Contributions</h2>
  <ul>
    <li>I maintain the <code>nomacs</code> package for the <code>NixOS</code> Linux distribution.
    <li>I have made small contributions to Firefox's JIT compiler.
  </ul>
</section>

{% endblock %}
