{{define "title"}}Ants{{end}}
{{define "breadcrumbs" -}}
<ul class="breadcrumbs"><li class="breadcrumbs-item"><a href="/">/root</a></li><li class="breadcrumbs-item">/toys</li><li class="breadcrumbs-item">/Ants</li></ul>
{{- end}}

{{define "content"}}
    <canvas id="viewer" width="700" height="700" style="width:700px; height:700px;"></canvas>
{{end}}

{{define "scripts"}}
<script src="main.js"></script>
{{end}}
    
