{{define "title"}}Home{{end}}
{{define "breadcrumbs" -}}
<ul class="breadcrumbs"><li class="breadcrumbs-item"><a href="/">/root</a></li></ul>
{{- end}}
{{define "content"}}
<section>
  <h1>Projects</h1>
  <ul>
    <li> <a href="frustum"><code>frustum</code></a>
    <li> <a href="ballistae"><code>ballistae</code></a>
    <li> <a href="webgl-raytracer"><code>webgl-raytracer</code></a>
  </ul>
  Take a look at
  my <a href="https://gitlab.com/ahmedtd">GitLab</a>
  and <a href="https://github.com/ahmedtd">GitHub</a>.
</section>

<section>
  <h1>Articles</h1>
  <ul>
    <li> <a href="articles/rl-force-tube">Reinforcement Learning Demo (Work in Progress)</a>
    <li> <a href="articles/2019-07-21-program-trace-analysis-with-wireshark">(2019-07-21) Program Trace Analysis With Wireshark</a>
    <li> <a href="articles/2020-02-22-word-squares">(2020-02-22) Word Squares</a>
    <li> <a href="articles/2020-05-12-interactive-word-squares">(2020-05-12) Interactive Word Squares</a>
    <li> <a href="articles/2020-09-19-fluid">(2020-09-19) Fluid Simulation</a>
    <li> <a href="https://cloud.google.com/blog/products/containers-kubernetes/kubernetes-bound-service-account-tokens">(2022-07-01) Google Cloud Blog: What GKE users need to know about Kubernetes' new service account tokens</a>
  </ul>
</section>

<section>
  <h1>Articles worth reading</h1>
  <ul>
    <li> <a href="http://www.nybooks.com/articles/1995/06/22/ur-fascism/">Ur-Fascism</a> (Umberto Eco)</li>
    <li> <a href="http://blissbat.net/balzac.html">The Pleasures and Pains of Coffee</a> (Honore de Balzac, translated by Robert Onopa)</li>
    <li> <a href="https://philosophynow.org/issues/46/Newtons_Flaming_Laser_Sword">Newton's Flaming Laser Sword</a> (Mike Alder)</li>
    <li> <a href="http://askakorean.blogspot.com/2008/01/america-least-racist-country-in-world.html">America, the least racist country in the world</a> (Anonymous, writing as The Korean)</li>
    <li> <a href="http://beautifulracket.com/appendix/why-racket-why-lisp.html">Why Racket? Why Lisp?</a> (Matthew Butterick)</li>
  </ul>
</section>

<section>
  <h1>Contact me</h1>

  <p> <a href="mailto:ahmed.taahir@gmail.com">ahmed.taahir@gmail.com</a>

  <p> View my <a href="/resume">resume</a>
</section>
{{end}}
