name: medtracker-build
on:
  push:

jobs:
  build-medtracker:
    if: "!contains(github.event.head_commit.message, 'COMMIT_TYPE=deploy')"
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Setup Go
      uses: actions/setup-go@v5
      with:
        go-version: 1.24
    - run: go vet -v ./medtracker/...
    - run: go test -v ./medtracker/...
    - run: CGO_ENABLED=0 go build -trimpath -o medtracker/cmd/webui/webui ./medtracker/cmd/webui
    - run: docker build --tag us-west1-docker.pkg.dev/row-major-ci/row-major-net-images/medtracker/webui:$GITHUB_SHA ./medtracker/cmd/webui
    - run: CGO_ENABLED=0 go build -trimpath -o medtracker/cmd/poller/poller ./medtracker/cmd/poller
    - run: docker build --tag us-west1-docker.pkg.dev/row-major-ci/row-major-net-images/medtracker/poller:$GITHUB_SHA ./medtracker/cmd/poller
    - name: 'Setup Google Cloud Authentication'
      uses: 'google-github-actions/auth@v1'
      with:
        workload_identity_provider: 'projects/508647401058/locations/global/workloadIdentityPools/ci-federation/providers/github-actions'
        service_account: 'github-actions@row-major-ci.iam.gserviceaccount.com'
    - name: 'Set up Cloud SDK'
      uses: 'google-github-actions/setup-gcloud@v1'
      with:
        version: '>= 390.0.0'
    - run: 'gcloud auth configure-docker us-west1-docker.pkg.dev'
    - run: docker push us-west1-docker.pkg.dev/row-major-ci/row-major-net-images/medtracker/webui:$GITHUB_SHA
    - run: docker push us-west1-docker.pkg.dev/row-major-ci/row-major-net-images/medtracker/poller:$GITHUB_SHA

  # test-and-upload:
  #   if: "!contains(github.event.head_commit.message, 'COMMIT_TYPE=deploy')"

  #   runs-on: ubuntu-latest
  #   permissions:
  #     contents: 'read'
  #     id-token: 'write'

  #   steps:
  #   - name: "Checkout"
  #     uses: actions/checkout@v3

  #   - name: 'Setup Google Cloud Authentication'
  #     uses: 'google-github-actions/auth@v1'
  #     with:
  #       workload_identity_provider: 'projects/508647401058/locations/global/workloadIdentityPools/ci-federation/providers/github-actions'
  #       service_account: 'github-actions@row-major-ci.iam.gserviceaccount.com'

  #   - name: 'Set up Cloud SDK'
  #     uses: 'google-github-actions/setup-gcloud@v1'
  #     with:
  #       version: '>= 390.0.0'

  #   - run: 'curl -L https://releases.bazel.build/${BAZEL_VERSION}/release/bazel-${BAZEL_VERSION}-linux-x86_64 > bazel'
  #   - run: 'chmod +x bazel'
  #   - run: './bazel test -- //... -//cloud-checkout/... -//harpoon/...'
  #   - run: 'gcloud auth configure-docker gcr.io'
  #   - run: 'IMAGE_REPO=bomsync-214520 IMAGE_TAG=${GITHUB_SHA} ./bazel run //medtracker/cmd/poller:poller_push'
  #   # - run: 'IMAGE_REPO=bomsync-214520 IMAGE_TAG=${GITHUB_SHA} ./bazel run //medtracker/cmd/webui:webui_push'
  #   - run: 'IMAGE_REPO=bomsync-214520 IMAGE_TAG=${GITHUB_SHA} ./bazel run //shardedcontroller:push'
  #   - run: 'IMAGE_REPO=bomsync-214520 IMAGE_TAG=${GITHUB_SHA} ./bazel run //rumor-mill/cmd/poller:poller_push'
  #   - run: 'IMAGE_REPO=bomsync-214520 IMAGE_TAG=${GITHUB_SHA} ./bazel run //webalator:webalator_push'
  
  # deploy-manifest:
  #   runs-on: ubuntu-latest
  #   permissions:
  #     contents: 'read'
  #     id-token: 'write'
  #   steps:
  #   - uses: actions/checkout@v3
  #   - uses: google-github-actions/auth@v1
  #     with:
  #       workload_identity_provider: 'projects/508647401058/locations/global/workloadIdentityPools/ci-federation/providers/github-actions'
  #       service_account: 'github-actions@row-major-ci.iam.gserviceaccount.com'
  #   - uses: google-github-actions/setup-gcloud@v1
  #     with:
  #       version: '>= 390.0.0'
  #   - run: 'gcloud components install gke-gcloud-auth-plugin'
  #   - run: 'gcloud container clusters get-credentials --project=bomsync-214520 --billing-project=bomsync-214520 --zone=us-west1 cell-us-west1'
  #   - run: 'kubectl apply --kustomize=manifests/medtracker/production'
      